.nav-container {
  background-color: #272727;
  padding: 10px;
}

.header-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.logo-container {
  margin-left: 10px;
}

.home-jobs-container {
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-text {
  color: white;
  font-weight: bold;
  font-family: 'roboto';
  font-size: 23px;
}

.btn-logout {
  color: white;
  background-color: #4f46e5;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 40px;
}

.link {
  text-decoration: none;
}

.home-icon {
  color: white;
  font-size: 200%;
}
